<form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">
      Name
    </label>
    <input [(ngModel)]="applicantName" id="name" type="text" formControlName="name">
  </div>
    <div *ngIf="applicationForm.controls['name'].errors?.required">
      {{ validatorMessages.Required }}
    </div>
  <div>
    <label for="age">
      Age
    </label>
    <input [(ngModel)]="applicationAge" id="age" type="number" formControlName="age">
  </div>

  <button class="button" type="submit">Apply</button>

</form>

{{ test }}
